<div class="footer">
	<div class="link">
		<span><a href='#'>关于我们</a></span><span class="sep">|</a></span>
		<span><a href='#'>使用条款</a></span><span class="sep">|</a></span>
		<span><a href='#'>渠道伙伴</a></span><span class="sep">|</a></span>
		<span><a href='#'>人才招聘</a></span><span class="sep">|</a></span>
		<span><a href='#'>代理合作</a></span><span class="sep">|</a></span>
		<span><a href='#'>送哪儿</a></span><span class="sep">|</a></span>
		<span><a href='#'>友情链接</a></span>
	</div>
	<div class="support">
		<%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %> 电话：4008008940 / 地址：上海市长宁区天山西路568号
	</div>
</div>
